.chall-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.chall_link:hover,
.chall_card:hover {
    color: #fff;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.chall_card {
    color: #fff;
    transition: all .2s;
    min-height: 170px;
    max-height: 170px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}